doc/old/OpxiCallManager.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://localhost/opxiCallManager/services/OpxiCallManager" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://localhost/opxiCallManager/services/OpxiCallManager" xmlns:intf="http://localhost/opxiCallManager/services/OpxiCallManager" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns1="urn:com.basamadco.opxi.callmanager.pool.rules" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.3
Built on Oct 05, 2005 (05:23:37 EDT)-->
 <wsdl:types>
  <schema targetNamespace="urn:com.basamadco.opxi.callmanager.pool.rules" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
   <complexType name="XMLValidationResult">
    <sequence>
     <element name="valid" type="xsd:boolean"/>
     <element name="message" nillable="true" type="soapenc:string"/>
    </sequence>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="validateMatchingRuleXmlResponse">

      <wsdl:part name="validateMatchingRuleXmlReturn" type="tns1:XMLValidationResult"/>

   </wsdl:message>

   <wsdl:message name="validateMatchingRuleXmlRequest">

      <wsdl:part name="in0" type="soapenc:string"/>

   </wsdl:message>

   <wsdl:portType name="OpxiCallManager">

      <wsdl:operation name="validateMatchingRuleXml" parameterOrder="in0">

         <wsdl:input message="impl:validateMatchingRuleXmlRequest" name="validateMatchingRuleXmlRequest"/>

         <wsdl:output message="impl:validateMatchingRuleXmlResponse" name="validateMatchingRuleXmlResponse"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="OpxiCallManagerSoapBinding" type="impl:OpxiCallManager">

      <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="validateMatchingRuleXml">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="validateMatchingRuleXmlRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://service.opxicm.basamadco.com" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="validateMatchingRuleXmlResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://localhost/opxiCallManager/services/OpxiCallManager" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="OpxiCallManagerService">

      <wsdl:port binding="impl:OpxiCallManagerSoapBinding" name="OpxiCallManager">

         <wsdlsoap:address location="http://localhost/opxiCallManager/services/OpxiCallManager"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
